<div class="row jumbotron">
    <h1 class="text-center">Create Account</h1>
    <hr>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" ng-model="account.Username" class="form-control input-lg">
                </div>
                <div class="form-group">
                    <label for="username">Password</label>
                    <input type="password" ng-model="account.Password" class="form-control input-lg">
                </div>
                <div class="form-group">
                    <label for="username">Email</label>
                    <input type="email" ng-model="account.Email" class="form-control input-lg">
                </div>
                <div class="form-group">
                    <label for="username">Firstname</label>
                    <input type="text" ng-model="account.Firstname" class="form-control input-lg">
                </div>
                <div class="form-group">
                    <label for="username">Lastname</label>
                    <input type="text" ng-model="account.Lastname" class="form-control input-lg">
                </div>
                <div class="form-group">
                    <label for="username">Email</label>
                    <input type="text" ng-model="account.DateOfBirth" class="form-control input-lg">
                </div>
                <div class="form-group">
                    <label for="username">Phone</label>
                    <input type="text" ng-model="account.Phone" class="form-control input-lg">
                </div>
                <div class="form-group">
                    <label for="username">Mobile</label>
                    <input type="text" ng-model="account.Mobile" class="form-control input-lg">
                </div>



                <button ng-click="addAccount()" class="btn btn-info form-control input-lg">Create</button>
            </form>
        </div>
    </div>
</div>