<div class="row jumbotron">
    <div>
        <span style="font-size: 1.5 em; color: lightskyblue;">
            <i class="fas fa-chevron-left"> <a href="#!">Home</a></i>
        </span>
    </div>
    <div ng-show="updateStatus" class="alert alert-success">
            <strong>Success</strong> Account updated
    </div>
    <h1 class="text-center">Edit Account</h1>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <form name="passwordForm">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" ng-change="passwordChanged()" class="form-control input-lg" ng-required="true" type="password" name="password" ng-model="newPassword">
                    <h5 class="text-danger" ng-show="passwordForm.password.$touched && passwordForm.password.$invalid">The
                        Password is required.</h5>
                    <h5 class="text-danger" ng-show="passwordComplexValidationFailed">
                        Password should be minimun 8 character in length, contain both letters and numbers, at
                        least one uppercase letter.
                    </h5>
                </div>
                <div class="form-group text-center">
                    <button ng-disabled="passwordForm.$invalid || passwordComplexValidationFailed" ng-click="resetBtnClicked()"
                        class="btn btn-primary">Update</button>
                </div>

            </form>
        </div>
    </div>
</div>